/* styles/App.css */

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8; /* Soft pastel background color */
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Header styles */
header {
  background: linear-gradient(135deg, #ff99cc, #ff66b3); /* Gradient background */
  padding: 30px; /* Increased padding for more space */
  border-bottom: 3px solid #ff3399; /* Darker pink border */
  color: #ffffff; /* Text color */
  text-align: center; /* Center align text */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #361d29; /* Pink header text color */

}

/* AboutMe styles */
#about-me {
  background-color: #ffffff; /* White background color */
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

h2 {
  color: #ff66b3; /* Pink header text color */
  margin-top: 0;
  text-decoration: underline; /* Underline the header text */

}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  color: #666666; /* Light gray text color */
  font-size: 1.1rem;
}

/* Projects styles */
#projects {
  background-color: #ffe6f2; /* Light pink background color */
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.project {
  background-color: #ffffff; /* White background color */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.project h3 {
  color: #ff66b3; /* Pink header text color */
  text-decoration: underline; /* Underline the header text */
}

.project p {
  color: #333333; /* Dark text color */
}

.project a {
  color: #007bff; /* Blue link color */
}

/* ContactMe styles */
* ContactMe styles */
#contact-me {
  background-color: #ffffff; /* White background color */
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #333333; /* Dark text color */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd; /* Light gray border */
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #ff66b3; /* Pink button background color */
  color: #ffffff; /* White button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ff3385; /* Darker pink button background color on hover */
}

.fun-fact {
  font-weight: bold;
  font-style: italic;
  color: #eb8890;
}